@import 'tailwindcss';
@import '@heroui/styles';

@layer base {
  html {
    color-scheme: light dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    min-height: 100dvh;
    overscroll-behavior: none;
    @apply bg-background text-foreground;
  }
}
